In [2]:
import numpy as np

In [3]:
np.__version__

'1.20.1'

In [4]:
a = np.array([1,2,3,4])

In [5]:
a

array([1, 2, 3, 4])

In [6]:
print(a)

[1 2 3 4]

In [7]:
a.dtype

dtype('int32')

In [8]:
a.ndim

1

In [9]:
a.shape

(4,)

In [10]:
a.itemsize

4

In [12]:
a.tolist()

[1, 2, 3, 4]

In [13]:
c = np.array([1,2,3])

In [14]:
d = np.array([1,2,3])

In [15]:
c is d

False

In [21]:
e = np.asarray(c)

In [22]:
c is e

True

In [23]:
e is c

True

In [24]:
c in e

True

In [25]:
e in c

True

In [26]:
f = c.copy()

In [27]:
c is f

False

In [28]:
f is c

False

In [29]:
import pandas as pd

In [43]:
s = pd.Series([1,2,3,4], index = list('abcd'))

In [44]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [45]:
s.values

array([1, 2, 3, 4], dtype=int64)

In [46]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [47]:
s.ndim

1

In [49]:
s.shape

(4,)

In [50]:
s.size

4

In [51]:
s['a']

1

In [52]:
s['d']

4

In [53]:
s['a':'c']

a    1
b    2
c    3
dtype: int64

In [54]:
s[:-1]

a    1
b    2
c    3
dtype: int64

In [60]:
df = pd.DataFrame([[1,2,3,4], [5,6,7,8]], index = list('ab'), columns = list('abcd'))

In [61]:
df

   a  b  c  d
a  1  2  3  4
b  5  6  7  8